body, h1 {
    margin:0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #350263;
    background-color: #FFFFFF;
    padding: 20px;
}

.message {
    max-width: 600px;
    color: #350263;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #e2d5f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5p 4px rgba(0,0,0,0.1);
}

form p {
    margin: 10px 0;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(103, 206, 1);
    color:#333;
}

.todo {
    background-color: #e2d5f1;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 5px 4px rgba(0,0,0,0.1);
}

input[type="submit"] {
    background-color: #de370e;
    color: #FFFFFF;
    padding: 4px 10px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: -20px;
}

.todo p{
    margin: 0;
}

.todo i {
    color: #888;
}